html {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    box-sizing: inherit;

}
header{
    background: #7d6167;

    color: white;
    padding: 25px;
    font-size: 20px;
    font-family: Futura, cursive;
}

h2 {
    font-family: 'Caveat', cursive;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    padding: 5px;
}

.section-wrap {
    background: #ffe8e8;
    padding: 10px;
    padding-bottom: 400px;
    color: #7D6168;
    width: 80%;
    display: inline-table;
}

section {
    border-style: double;
    border-color: #7d6167;
    border-bottom-width: thick;
}

.projects{
    width: 75%;
    display: inline-table;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

a{
    color: #7D6168;
}
a:hover{
    text-decoration: none;
}
footer{
    background: #7d6167;
    padding: 20px;
    font-size: 50px;
    font-family: Futura, cursive;
}

