h1, h2, h3, span {
  margin: 0;
}

h1 {
  font-size: 16rem;
}
h2 {
  font-size: 3rem;
}
h3{
  font-size: 1.4rem;
}
span{
  font-size: 6rem;
}

*{
  background: #19C3FB;
  color: white;
}


.container{
  max-width: 550px;
  height: 100vh;
  border: 10px solid white;
  border-radius: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 20% 80%;
  text-align: center;
  padding: 25px 5px;
}
.degrees{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center
}

footer {
  padding: 20px;
  font-size: 18px;
  font-family: Courier;
  text-align: center;
}

footer a{
  margin: 10px;
}

footer a:hover {
  color: blue;
  text-decoration: none;
}

